.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay with 80% opacity */
  z-index: 0;
}

nav {
  z-index: 2; /* Ensure navbar is above the overlay and video */
  position: relative; /* Ensure proper stacking context */
}

.bg-partners-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://plus.unsplash.com/premium_photo-1661762886657-e6d1a970c864?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace with your background image URL */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  z-index: -1;
}

@media (max-width: 767px) {
  .relative.h-screen {
    height: 50vh; /* Adjust height as needed */
  }
}

.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; /* Ensure it stays above other elements */
  transition: background-color 0.3s ease-in-out;
  margin-top: 10px;
  color: white;
}

.scrolled {
  background-color: white;
  color: black;
  box-shadow: 0 4px 2px -2px gray; /* Optional: add shadow for better visibility */
  margin-top: 0px
}