@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track{
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb{
    background: #636f77;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #442e83;
  }
  
